
<h2 class="control-titulo"> Declarar Influencia </h2>
<div class="controles-influencia">
    <!-- Traer todos los Jugadores -->
    <div>
        <p> Jugador que Declara influencia: {{ playerDeclare.name }} </p>
        <select name="selPlayer" [(ngModel)]="playerDeclare" (ngModelChange)="getPlayerStatus($event)">
            <option [ngValue]="player" *ngFor="let player of players">
                {{ player.name }}
            </option>
        </select>
    </div>
    <!-- Traer todos los politicos -->
    <div>
        <p> Político a Declarar Influencia: {{ declaredPolitico.name }} </p>
        <select name="selPolitico" [(ngModel)]="declaredPolitico" (ngModelChange)="getPoliticoStatus($event)"> 
            <option [ngValue]="politico" *ngFor="let politico of politicosAssigned">
                {{ politico.name }}
            </option>
        </select>
    </div>
    <!-- Traer valores posibles (descartando los valores inválidos) -->
    <div>
        <p> Valor a Declarar: {{ declaredValue }} </p>
        <select name="declaredValue" [(ngModel)]="declaredValue">
            <option [ngValue]="possibleValue" *ngFor="let possibleValue of possibleValues">
                {{ possibleValue }}
            </option>
        </select>
    </div>
    <!-- Botón de Declaración -->
    <button class="boton" (click)="declareInfluence()"> Declarar </button>
</div>
    
<!-- Tabla de resumen con los Politicos con Influencia Declarada del Jugador elegido -->
<div class="tabla-influencia">
    <h3 class="control-titulo"> Tabla de Influencia Declarada del Jugador {{ playerDeclare.name }} </h3>
    <table>
        <thead>
            <tr>
                <th class="table-cell" scope="col"> Politico </th>
                <th class="table-cell" scope="col"> Puntos Declarados </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let declared of declaredMany">
                <td class="table-cell"> {{ getPoliticoNameByID(declared.politicoId) }} </td>
                <td class="table-cell"> {{ declared.points }} </td>
            </tr>
        </tbody>
    </table>
</div>
