<h2 class="control-titulo"> User's Games </h2>
<!-- Get all Games -->
<div>
    <p> Select a Game </p>
    <p> Game ID: / Created at: </p>
    <ul>
        <li *ngFor="let game of games">
            <p> 
                Game ID: {{ game.id }} / Created at: {{ game.createdAt }}
                <button class="boton" (click)="loadGame(game.id)">
                    Load
                </button>
                <button class="boton" (click)="openGame(game.id)">
                    Open
                </button>
            </p>
        </li>
    </ul>

    <div>
        <h1> Create new Game </h1>
        <button class="boton" (click)="createNewGame()"> New Game </button>
    </div>
</div>