<div class="input-container">
    <h2 class="input-title"> Register New User </h2>
    <p *ngIf="errorMsg" class="message"> {{ errorMsg }} </p>
    <div class="input-group">
        <input type="text" [(ngModel)]="email" placeholder="Email" class="input">
        <input type="text" [(ngModel)]="username" placeholder="Username" class="input">
        <input type="text" [(ngModel)]="password" placeholder="Password" class="input">
    </div>
    <button (click)="register()" class="boton register-btn"> Register </button>
</div>