.title {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-game {
    margin-top: 1rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
}