<div class="main-container">
    <h2 class="title"> Available Games </h2>
    
    <div *ngIf="games().length === 0">
        No Games available.
    </div>
    
    <div class="list">
        <app-game-list-item
          *ngFor="let game of games()"
          [game]="game"
          (join)="join($event)"
          (resume)="onResume($event)">
        </app-game-list-item>
    </div>
    
    <div class="create-game">
        <label>
            Max Players:
            <input 
                type="number"
                min="3"
                max="6"
                [(ngModel)]="maxPlayers"
                class="input"
            >
        </label>
        
        <button class="boton" (click)="onCreate()"> Create Game </button>
    </div>
</div>
