<div class="pyramid">
    <div class="row top">
        <app-ministry-slot
            *ngFor="let ministry of topLvl"
            [ministry]="ministry"
            [politico]="getPoliticoForMinistry(ministry)"
            [selectedPoliticoID]="selectedPoliticoID"
            (politicoSelected)="onPoliticoSelected($event)"
        >
        </app-ministry-slot>
    </div>

    <div class="row fstLvl">
        <app-ministry-slot
            *ngFor="let ministry of firstLvl"
            [ministry]="ministry"
            [politico]="getPoliticoForMinistry(ministry)"
            [selectedPoliticoID]="selectedPoliticoID"
            (politicoSelected)="onPoliticoSelected($event)"
        >
        </app-ministry-slot>
    </div>

    <div class="row sndLvl">
        <app-ministry-slot
            *ngFor="let ministry of secondLvl"
            [ministry]="ministry"
            [politico]="getPoliticoForMinistry(ministry)"
            [selectedPoliticoID]="selectedPoliticoID"
            (politicoSelected)="onPoliticoSelected($event)"
        >
        </app-ministry-slot>
    </div>

    <div class="row candidates">
        <app-ministry-slot
            *ngFor="let ministry of candidateLvl"
            [ministry]="ministry"
            [politico]="getPoliticoForMinistry(ministry)"
            [selectedPoliticoID]="selectedPoliticoID"
            (politicoSelected)="onPoliticoSelected($event)"
        >
        </app-ministry-slot>
    </div>

    <div class="row people">
        <app-ministry-slot
            *ngFor="let ministry of peopleLvl"
            [ministry]="ministry"
            [politico]="getPoliticoForMinistry(ministry)"
            [selectedPoliticoID]="selectedPoliticoID"
            (politicoSelected)="onPoliticoSelected($event)"
        >
        </app-ministry-slot>
    </div>
</div>