<div class="pyramid">
    <div class="row top">
        <app-ministry-slot
            *ngFor="let type of topLvl"
            [ministry]="getMinistry(type)"
            [politico]="getPoliticoForMinistry(type)"
            [selectedPoliticoID]="selectedPoliticoID"
            (politicoSelected)="onPoliticoSelected($event)"
        >
        </app-ministry-slot>
    </div>

    <div class="row fstLvl">
        <app-ministry-slot
            *ngFor="let type of firstLvl"
            [ministry]="getMinistry(type)"
            [politico]="getPoliticoForMinistry(type)"
            [selectedPoliticoID]="selectedPoliticoID"
            (politicoSelected)="onPoliticoSelected($event)"
        >
        </app-ministry-slot>
    </div>

    <div class="row sndLvl">
        <app-ministry-slot
            *ngFor="let type of secondLvl"
            [ministry]="getMinistry(type)"
            [politico]="getPoliticoForMinistry(type)"
            [selectedPoliticoID]="selectedPoliticoID"
            (politicoSelected)="onPoliticoSelected($event)"
        >
        </app-ministry-slot>
    </div>

    <div class="row candidates">
        <app-ministry-slot
            *ngFor="let type of candidates"
            [ministry]="getMinistry(type)"
            [politico]="getPoliticoForMinistry(type)"
            [selectedPoliticoID]="selectedPoliticoID"
            (politicoSelected)="onPoliticoSelected($event)"
        >
        </app-ministry-slot>
    </div>

    <div class="row people">
        <app-ministry-slot
            *ngFor="let type of people"
            [ministry]="getMinistry(type)"
            [politico]="getPoliticoForMinistry(type)"
            [selectedPoliticoID]="selectedPoliticoID"
            (politicoSelected)="onPoliticoSelected($event)"
        >
        </app-ministry-slot>
    </div>
</div>