<div 
    class="card"
    [class.selected]="selected"
    (click)="onClick()"
    [class.controlled]="politico.controllerPlayerID"
    [style.border-color]="getPlayerColor(this.politico.controllerPlayerID)"
>
    <div class="header">
        <strong> {{ politico.name }} </strong>
    </div>

    <div class="body">
        <div> Age : {{ politico.age }} </div>
        <div> Damage : {{ politico.damage }} </div>
        <div> Status : {{ politico.status }} </div>
    </div>

    <div class="footer" *ngIf="politico.controllerPlayerID">
        Controlled by Player : {{ politico.controllerPlayerID }}
    </div>

    <div class="influence-container"
         *ngIf="declaredInfluences"
    >
        <div class="badge"
             *ngFor="let inf of declaredInfluences"
             [style.background]="getPlayerColor(inf.playerID)"
        >
            {{ inf.value }}
        </div>
    </div>

    <div class="health-container">
        <div class="badge at-hospital" *ngIf="this.atHospital()">
            CURE
        </div>
    </div>
</div>