<div class="board-layout">

    <div class="board">
        <ng-container *ngIf="gameStore.gameState()">
            <app-politburo-pyramid
                [ministries]="gameStore.ministries()"
                [politicos]="gameStore.politicos()"
                [selectedPoliticoID]="gameStore.ui()?.selectedPoliticoID ?? null"
                (politicoSelected)="onPoliticoSelected($event)"
            >
            </app-politburo-pyramid>
        </ng-container>
        
        <p *ngIf="!gameStore.gameState()">
            No game loaded.
        </p>
    </div>

    <app-politico-side-panel></app-politico-side-panel>
</div>
