<div class="board-layout">

    <div class="board">

        <app-game-header></app-game-header>

        <ng-container *ngIf="gameStore.gameState()">

            <app-phase-control
                [gameID]="gameStore.game()?.id"
                [phaseStatus]="gameStore.phaseStatus()"
                [players]="gameStore.players()"
                [readyPlayers]="gameStore.readyPlayers()"
                [iAmReady]="gameStore.iAmReady()"
                [allPlayersReady]="gameStore.allPlayersReady()"
                (readyClicked)="onReadyClicked()"
                (beginPhaseClicked)="onBeginPhaseClicked()"
            >
            </app-phase-control>

            <app-politburo-pyramid
                [ministries]="gameStore.ministries()"
                [politicos]="gameStore.politicos()"
                [playerColorMap]="gameStore.playerColorMap()"
                [declaredInfluencesByPolitico]="gameStore.declaredInfluencesByPolitico()"
                [selectedPoliticoID]="gameStore.ui()?.selectedPoliticoID ?? null"
                (politicoSelected)="onPoliticoSelected($event)"
            >
            </app-politburo-pyramid>
        </ng-container>
        
        <p *ngIf="!gameStore.gameState()">
            No game loaded.
        </p>
    </div>

    <app-politico-side-panel></app-politico-side-panel>

    <app-declare-influence-modal
        *ngIf="gameStore.ui()?.modal?.type === UiModalType.ACTION_CONFIRM">
    </app-declare-influence-modal>
    
</div>
