.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkred;
}

.logo {
    font-size: larger;
    text-decoration: none;
    color: darkgoldenrod;
    margin-left: 1rem;
}

.home-menu {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}

.nav-link {
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: darkgoldenrod;

    &:hover {
        color: goldenrod;
        transition: color .5s;
    }
}