<div class="modal">
    <h3>Purge Attempt</h3>
    <p> Accusing Minister: {{ accusingMinister()?.name }} </p>
    
    <!-- Politicos that can be purged -->
    <select [(ngModel)]="value">
        <option value="" disabled selected> Select a target politico </option>
        <option *ngFor="let politico of possibleTargets()" [value]="politico.id">
            {{ politico.name }}
        </option>
    </select>

    <div class="modal-buttons">
        <button class="boton" (click)="confirmPurge()"> Confirm </button>
        <button class="boton" (click)="close()"> Cancel </button>
    </div>
</div>