
<div class="tablero">
    <div
        *ngFor="let ministryStatus of allMinistryStatus; let i = index"
        [ngClass]="posiciones[i % posiciones.length]"
    >
        <!-- Ministry data -->
        <p> {{ ministryStatus.ministry.name }} </p>
        <p> Número de purga >= {{ ministryStatus.ministry.purgeNr }} </p>
        <p *ngIf="ministryStatus.minister"> {{ ministryStatus.minister.name }} </p>
        <p *ngIf="!ministryStatus.minister"> VACANTE </p>
        
        <!-- Minister Controller Badge -->
        <span *ngIf="ministryStatus.controller">
            Controlado por: {{ ministryStatus.controller.name }}
        </span>
        <span *ngIf="!ministryStatus.controller">
            NO CONTROLADO
        </span>

        <!-- Declared Influence values on Minister -->
        <span>

        </span>
    </div>
    <!-- <div>
        <p id="alias"> </p>
        <p id="age"> </p>
        <p id="name"> </p>
    </div> -->
</div>

<!-- Botón para asignación inicial de Ministros en Ministerios -->
<button class="boton" (click)="initialMinisterAssign()"> Inicializar Ministros </button>
