<div class="player-bloque">
    <h1> Crear Nuevo Jugador </h1>
    <form 
        class="formulario" 
        [formGroup]="datosPlayer" 
        (ngSubmit)="createSinglePlayer()"
    >
        <label class="campo01"> Name:
            <input type="text" formControlName="name" required>
        </label>
        <label class="campo02"> Faction:
            <select formControlName="faction">
                <option [ngValue]="faction" *ngFor="let faction of factions">
                    {{ faction }}
                </option>
            </select>
        </label>
        <button class="boton boton-enviar" type="submit" [disabled]="!datosPlayer.valid">
            Enviar
        </button>
    </form>
</div>