
<h2 class="control-titulo"> Asignar Influencia </h2>
<div class="controles-influencia">
    <!-- Traer todos los Jugadores -->
    <div>
        <p> Jugador que asigna Influencia: {{ playerAssign.name }} </p>
        <select name="selPlayer" [(ngModel)]="playerAssign" (ngModelChange)="getPlayerStatus($event)">
            <option [ngValue]="player" *ngFor="let player of players">
                {{ player.name }}
            </option>
        </select>
    </div>
    <!-- Traer todos los politicos -->
    <div>
        <p> Político a Asignar Influencia: {{ assignedPolitico.name }} </p>
        <select name="selPolitico" [(ngModel)]="assignedPolitico">
            <option [ngValue]="politico" *ngFor="let politico of freePoliticos">
                {{ politico.name }}
            </option>
        </select>
    </div>
    <!-- Traer valores posibles (descartando los valores ya tomados) -->
    <div>
        <p> Valor a Asignar: {{ assignedValue }} </p>
        <select name="assignedValue" [(ngModel)]="assignedValue">
            <option [ngValue]="possibleValue" *ngFor="let possibleValue of possibleValues">
                {{ possibleValue }}
            </option>
        </select>
    </div>
    <button class="boton" (click)="assignInfluence()"> Asignar </button>
</div>

<!-- Tabla de resumen con los Politicos con Influencia Asignada del Jugador elegido -->
<div class="tabla-influencia">
    <h3 class="control-titulo"> Tabla de Influencia Asignada del Jugador {{ playerAssign.name }} </h3>
    <table>
        <thead>
            <tr>
                <th class="table-cell" scope="col"> Politico </th>
                <th class="table-cell" scope="col"> Puntos Asignados </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let assigned of assignedMany">
                <td class="table-cell"> {{ getPoliticoNameByID(assigned.politicoId) }} </td>
                <td class="table-cell"> {{ assigned.points }} </td>
            </tr>
        </tbody>
    </table>
</div>
