<div class="input-container">

  <h2 class="input-title"> Join Game </h2>
  
  <div class="join-input-group">
    <div class="join-input-row">
      <label class="join-input-label"> Player name </label>
      <input [(ngModel)]="name" class="input join-input"/>
    </div>
  
    <div class="join-input-row">
      <label class="join-input-label"> Faction </label>
      <select [(ngModel)]="faction" class="input join-input">
        <option *ngFor="let f of factions" [value]="f">
          {{ f }}
        </option>
      </select>
    </div>
  </div>

  <div class="actions">
    <button [disabled]="!canSubmit()" (click)="submit()" class="boton"> Join </button>
    <button (click)="cancel()" class="boton"> Cancel </button>
  </div>
</div>

