<div class="main-container">
    <div class="input-container">
        <h2 class="input-title">Login</h2>
        <p *ngIf="errorMsg" class="message"> {{ errorMsg }} </p>
        <div class="input-group">
            <input 
                type="text"
                [(ngModel)]="username"
                placeholder="Username"
                class="input"
            >
            <input 
                type="password" 
                [(ngModel)]="password" 
                placeholder="Contraseña"
                class="input"
            >
        </div>
        <button (click)="login()" class="boton login-btn"> Submit </button>
    </div>
</div>
