<div *ngIf="gameContext() as context" class="lobby">
    
    <h2 class="title"> Game #{{ context.gameID }}</h2>
    
    <p class="player-count"> Players: {{ context.players.length }} / {{ context.maxPlayers }} </p>

    <ul class="players">
        <li *ngFor="let p of context.players">
            <span> {{ p.name }} </span> / 
            <span *ngIf="p.faction"> {{ p.faction }} </span> / 
            <span 
              class="ready"
              [class.ok]="p.ready"
            >
              {{ p.ready ? 'Ready' : 'Not ready' }}
            </span>
        </li>
    </ul>

    <div class="actions">
        <button class="boton" (click)="toggleReady()">
            Change status
        </button>

        <button
            class="boton" 
            *ngIf="canStart(context)" 
            (click)="beginInfluenceAssignment()"
        >
            Start Game
        </button>

        <button class="boton" (click)="leaveLobby()"> 
            Quit 
        </button>
    </div>

</div>