/* You can add global styles to this file, and also import other style files */

@import 'normalize.css/normalize.css';

.container {
    margin: 0 auto;
}

.bloque {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.boton {
    background-color: grey;
    padding: .5rem 1rem;
    color: white;
    font-weight: 400;
    height: max-content;
    width: max-content;
}
.titulo-boton {
    color: white;
}

// Influencia
.control-titulo {
    text-align: center;
}
.controles-influencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.table-cell {
    text-align: center;
    border: 1px solid #000;
}
.tabla-influencia {
    display: flex;
    flex-direction: column;
}