<div class="side-panel">
    <!-- Nothing selected -->
    <div *ngIf="!gameStore.selectedPolitico()" class="empty">
       <p> Select a Politico </p>
    </div>

    <!-- Politico selected -->
    <div *ngIf="gameStore.selectedPolitico() as politico" class="content">
        <h2> {{ politico.name }} </h2>
        <h4 *ngIf="politico.alias">"{{ politico.alias }}"</h4>

        <section>
            <div><strong>Age:</strong> {{ politico.age }}</div>
            <div><strong>Damage:</strong> {{ politico.damage }}</div>
            <div><strong>Status:</strong> {{ politico.status }}</div>
        </section>

        <section *ngIf="gameStore.selectedPoliticoMinistry() as ministry">
            <strong>Ministry:</strong> {{ ministry.name }}
        </section>

        <section *ngIf="gameStore.hasAssignedInfluenceOnSelectedPolitico()" class="mine">
            <span> 
                You assigned influence on this Politico. 
            </span>
            <span> 
                Influence assigned: {{ influenceAssignedOnSelectedPolitico() }} 
            </span>
        </section>
        <section *ngIf="politico.controllerPlayerID">
            <strong>Controlled by: </strong>
            <span> {{ players()[Number(politico.controllerPlayerID)].name }} </span>
        </section>
        <section *ngIf="politico.controllerPlayerID === myPlayerID()" class="mine">
            <strong> You control this Politico. </strong>
        </section>

        <div class="actions">
            <button 
                class="boton"
                *ngIf="canDeclareInfluence()"
                (click)="openDeclareInfluenceModal()"
            >
                Declare Influence
            </button>
            <button 
                class="boton"
                *ngIf="canAnnounceAction(ActionType.SEND_HOSPITAL)"
                (click)="openHospitalModal()"
            >
                Send to Hospital
            </button>
            <button
                class="boton"
                *ngIf="canAnnounceAction(ActionType.PURGE_ATTEMPT)"
                (click)="openPurgeModal()"
            >
                Attempt Purge
            </button>
            <button
                class="boton"
                *ngIf="canAnnounceAction(ActionType.EXILE_ESCAPE)"
                (click)="openExileEscapeModal()"
            >
                Exile Escape
            </button>
            <button
                class="boton"
                *ngIf="canAnnounceAction(ActionType.BEGIN_INVESTIGATION)"
                (click)="openBeginInvestigationModal()"
            >
                Begin Investigation
            </button>
        </div>

        <div *ngIf="authorized() as auth">
            {{ auth.ministry }}
            <div *ngFor="let action of auth.actions">
                {{ action }}
            </div>
        </div>
    </div>     
</div>